apiVersion: sei.io/v1alpha1
kind: SeiNetwork
metadata:
  name: PLACEHOLDER
spec:
  image: "{{ .IMAGE }}"
  replicas: 4
  configOverrides:
    tx_index.indexer: kv
    api.rest.enable: "true"
  genesis:
    chainId: "{{ .CHAIN_ID }}"
    overrides:
      gov.voting_params.voting_period: "60s"
