apiVersion: sei.io/v1alpha1
kind: SeiNodeDeployment
metadata:
  name: PLACEHOLDER
spec:
  replicas: 4
  template:
    spec:
      chainId: "{{ .CHAIN_ID }}"
      image: "{{ .IMAGE }}"
      validator: {}
      overrides:
        tx_index.indexer: kv
        api.rest.enable: "true"
  genesis:
    chainId: "{{ .CHAIN_ID }}"
    overrides:
      gov.voting_params.voting_period: "60s"
  updateStrategy:
    type: InPlace
